<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}
    <h1 class="logo">
      <a href="{{ path('index') }}"style="border-color:#ff6750">Colibri</a>
    </h1>
    <!-- .navbar -->
    <nav id="navbar" class="navbar">
      <ul>
      {% if app.user %}
        <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
        <li><a class="nav-link scrollto" href="{{ path('contact') }}">Nous Contacter</a></li>
        <li><a class="getstarted scrollto" href="{{ path('logout') }}">D&#xE9;connexion</a></li>
      {% else %}
        <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
        <li><a class="nav-link scrollto" href="{{ path('contact') }}">Nous Contacter</a></li>
        <li><a class="nav-link scrollto" href="{{ path('register') }}">S'inscrire</a></li>
        <li><a class="getstarted scrollto" href="{{ path('login') }}">Se Connecter</a></li>
      {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>

    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
